# Core functionality - changes here should be rare!
/src/app.py                   @rayanbenda3
/src/backend/database.py      @rayanbenda3
/src/backend/routers/auth.py  @rayanbenda3

# The frontend will need refactored soon to be more object oriented.
/src/static/   @rayanbenda3
